body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  padding: 20px;

    img {
      margin-right: 15px;
    }

    h3, p {
      margin: 0;
    }
  } 

  .content {
    padding: 20px;

    h1 {
      margin: 0;
    }
  }

  .content__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .cartEmpty {
    text-align: center; 
    p {
      width: 280px;
      line-height: 24px;
    }     

    .greenButton {        
      width: 245px;
      margin-top: 20px;
      &:hover {
        img {
          transform: rotate(180deg) translateX(3px);
        }
      }

      img {
        position: relative;
        top: 1px;
        transform: rotate(180deg);
        margin-right: 15px;
        transition: transform 0.15 ease-in-out;
      }
    }
  }  

  .search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    .clear {
      position: absolute;
      right: 0;
      width: 18px;
      height: 18px;
      top: 14px;
      right: 15px;
    }

    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 200px;
    }
  }

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
  
    div {
      flex: 1;
      border-bottom: 1px dashed #dfdfdf;
      height: 1px;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }

  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }

}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.1 ease-in-out;
  cursor: pointer;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  
  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15 ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }         
  }
}

  .headerCart {
    margin-right: 30px;
  }
  
  .headerFavorites {
    margin-right: 20px;
  }

  .headerOrders {
    margin-right: 20px;
  }
                             

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


/* Mobile media */
@media screen and (min-width: 320px) and (max-width: 768px ) {
  .headerRight {
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .headerLeft {
    img {
      width: 45px;
      height: 45px;
    }
    h3 {
      //   visibility: hidden;
      //  display: none; скрывает обьект |
      font-size: 14px;
    }

    p {
      visibility: hidden;
      display: none;
    }
  }

  .headerCart {
    margin-right: 10px;
  }

  .headerFavorites {
    margin-right: 10px;
  }

  .headerOrders {
    margin-right: 0;
  }

  .search-block {
    input {
      width: 80px;
    }
  }
}

@media screen and (min-width: 610px) and (max-width: 768px ) {
  .search-block {
    input {
      width: 220px;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 479px ) {
  body {
    font-size: 12px;
  }

  header { 
    padding: 20px;
  }

  .wrapper {
    margin: 10px;
  }

  .content__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    justify-items: center;
  }

}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .wrapper {
    margin: 20px 10px;
  }

  .content__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }


}



